<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Welcome!</h1>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">FIRST NAME</th>
            <td>{{first_name}}</td>
          </tr>
          <tr>
            <th scope="row">LAST NAME</th>
            <td>{{last_name}}</td>
          </tr>
          <tr>
            <th scope="row">EMAIL NAME</th>
            <td>{{email}}</td>
          </tr>
          <tr>
            <th scope="row">YEAR</th>
            <td>{{year}}</td>
          </tr>
          <tr>
            <th scope="row">MAJOR</th>
            <td>{{major}}</td>
          </tr>
          <tr>
            <th scope="row">DEGREE</th>
            <td>{{degree}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>
